@import 'fonts';

$font-family-sans-serif: 'GOST UI 2', sans-serif;
$primary: #00dfc8;
$body-bg: #f1f5f5;

$btn-border-radius: 19px;
$btn-border-radius-lg: 24px;
$btn-border-radius-sm: 16px;

#nprogress .bar {
  background: $primary !important;
}

@import '~axios-progress-bar/dist/nprogress.css';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
